# Project Overview

This dataset provides insights into customer satisfaction levels within an undisclosed airline company. The optimal goal is to examine the quality and satisfaction rates in this database.

The following are some questions to guide the analysis of this rich dataset:

**Questions to answer:**

1. Satisfaction:
    - Class -TMX
    - Entertainment - HYM
    - Distance - HYM
    - Delays
    - Food - TMX
  
Focus: during flight

# 1. Importing Dependencies

In [44]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 2. Reading the csv file

In [45]:
df = pd.read_csv(r"Airline_customer_satisfaction.csv")
df = df.sample(300)

# 3. EDA

In [46]:
df.head()

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
102176,dissatisfied,Loyal Customer,27,Business travel,Eco,2522,4,4,4,4,...,4,4,1,2,2,2,2,4,3,0.0
98455,satisfied,Loyal Customer,45,Business travel,Business,3977,3,3,4,3,...,5,4,4,4,4,3,4,4,1,0.0
107290,satisfied,Loyal Customer,57,Business travel,Business,2270,5,5,5,5,...,5,4,4,4,4,4,4,4,0,2.0
110495,dissatisfied,Loyal Customer,41,Business travel,Eco,1231,4,5,5,5,...,5,5,3,3,3,4,4,5,0,0.0
100306,satisfied,Loyal Customer,40,Business travel,Business,625,3,3,3,3,...,5,4,4,4,4,3,4,4,0,0.0

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, 102176 to 17003
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   satisfaction                       300 non-null    object
 1   Customer Type                      300 non-null    object
 2   Age                                300 non-null    int64
 3   Type of Travel                     300 non-null    object
 4   Class                              300 non-null    object
 5   Flight Distance                    300 non-null    int64
 6   Seat comfort                       300 non-null    int64
 7   Departure/Arrival time convenient  300 non-null    int64
 8   Food and drink                     300 non-null    int64
 9   Gate location                      300 non-null    int64
 10  Inflight wifi service              300 non-null    int64
 11  Inflight entertainment             300 non-null    int64
 12  Online support                     300 non-null    int64
 13  Ease of Online booking             300 non-null    int64
 14  On-board service                   300 non-null    int64
 15  Leg room service                   300 non-null    int64
 16  Baggage handling                   300 non-null    int64
 17  Checkin service                    300 non-null    int64
 18  Cleanliness                        300 non-null    int64
 19  Online boarding                    300 non-null    int64
 20  Departure Delay in Minutes         300 non-null    int64
 21  Arrival Delay in Minutes           298 non-null    float64
dtypes: float64(1), int64(17), object(4)
memory usage: 53.9+ KB

In [48]:
df.shape

(300, 22)

In [49]:
df.describe().round()

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
count,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,298.0
mean,40.0,2013.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,3.0,4.0,3.0,4.0,3.0,4.0,3.0,14.0,14.0
std,15.0,1121.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,36.0
min,7.0,60.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
25%,28.0,1223.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,3.0,2.0,3.0,2.0,3.0,2.0,0.0,0.0
50%,40.0,2034.0,3.0,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0,4.0,0.0,0.0
75%,52.0,2648.0,4.0,5.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0,5.0,4.0,13.0,12.0
max,72.0,5606.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,258.0,313.0

# 4. Data cleaning

In [50]:
# removing unwanted features
df.drop(["Departure/Arrival time convenient", 
         "Gate location", 
         "Online support", 
         "Ease of Online booking", 
         "On-board service", 
         "Baggage handling", 
         "Checkin service", 
         "Online boarding", 
         "Arrival Delay in Minutes"], 
        axis=1, inplace=True)